<!DOCTYPE html>
<html ng-app="wunderlist">
<head>
	<title>Angular Example</title>

	<meta charset="utf-8">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

</head>
<body>

	<div ng-controller="ListController">
		<ul>
			<li ng-repeat="list in lists">
				<a href="#/list/{{list.id}}">{{list.name}}</a>
			</li>
		</ul>
		<form ng-submit="addLists(NewItem)">
			<input type="text" ng-model="NewItem">
		</form>
	</div>
	<div ng-view></div>

</body>
</html>